<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <div id="app">
            <div class="cart">
                <p>
                    Cart
                    <ul v-for="cartItem in cart">
                        <li>
                            {{cartItem.name}} ({{cartItem.quantity}} szt) 
                            <button v-on:click="increaseCartItem(cartItem)">+</button>
                            <button v-on:click="decreaseCartItem(cartItem)">-</button>
                        </li>
                    </ul>
                </p>
            </div>
            <div v-for="(singleProduct, index) in currentProducts">
                <product 
                    :product-data="singleProduct"
                    :product-data-original="products[index]"
                    :key="singleProduct.id"
                    :premium="premium" 
                    :cart="cart"
                    :almost-sold-out-quantity="ALMOST_SOLD_OUT_QUANTITY"
                    @add-to-cart="addToCart" 
                    @remove-from-cart="removeFromCart"
                />
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>